* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Btn {
  background-color: white;
  color: red;
  margin: 10px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid red;
  cursor: pointer;
}

.Btn:active {
  background-color: red;
  color: white;
}

.image {
  height: 400px;
}

@media (max-width: 500px) {
  .image {
    height: 200px;
  }
  .heading {
    font-size: 20px;
    text-align: center;
  }
  .Btn {
    width: 70px;
    height: 40px;
    margin: 5px;
  }
}
